APP_KEY=
APP_URL=http://localhost

DB_HOST=db
DB_DATABASE=musicparty
DB_USERNAME=musicparty
DB_PASSWORD=musicparty

REDIS_HOST=redis

REVERB_APP_ID=musicparty
REVERB_APP_KEY=musicparty
REVERB_APP_SECRET=secret

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
