APP_NAME="Music Party"
APP_ENV=local
APP_KEY=
APP_URL=http://localhost

DB_HOST=db
DB_DATABASE=musicparty
DB_USERNAME=musicparty
DB_PASSWORD=musicparty

REDIS_HOST=redis

REVERB_APP_ID=musicparty
REVERB_APP_KEY=musicparty
REVERB_APP_SECRET=secret
REVERB_PUBLIC_HOST=localhost
REVERB_PUBLIC_PORT=8080
REVERB_PUBLIC_SCHEME=http

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

PROMETHEUS_TOKEN=
PROMETHEUS_ALLOWED_IPS=
