// Body
$body-bg: #000;
$body-color: #ddd;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Branding
$primary: #00ada1;
$link-color: #00ada1;

