// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons";

html {
    min-height: 100%;
    position: relative;
    padding-bottom: 4em;
}
.cover-bg {
    background: linear-gradient(
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.85)
    ), url('../img/cover.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-discord {
    background-color: #5865f2;
    color: #ffffff;
}

.bg-spotify {
    background-color: #1d8954;
    color: #ffffff;
}

.user-menu-avatar {
    margin-top: -1rem !important;
    margin-bottom: -0.6rem !important;
    height: 2.6em;
    width: 2.6em;
}

.user-menu-text {
    margin-top: -1rem !important;
    margin-bottom: -0.6rem !important;
}

.party-album {
    height: 3em;
}

.striped-bg:nth-child(odd) {
    background-color: #212529;
}

.striped-bg:nth-child(even) {
    background-color: #2c3034;
}
