(worker) {
	worker "{$APP_PUBLIC_PATH}/frankenphp-worker.php" {$CADDY_SERVER_WORKER_COUNT}
}

{
	{$CADDY_GLOBAL_OPTIONS}

	metrics

	admin localhost:2019

	frankenphp {
		{$CADDY_SERVER_FRANKENPHP_OPTIONS:import worker}
	}
}

{$CADDY_EXTRA_CONFIG}

:9180 {
	metrics
}

{$CADDY_SERVER_SERVER_NAME} {
	log {
		level {$CADDY_SERVER_LOG_LEVEL}

		format filter {
			wrap {$CADDY_SERVER_LOGGER}
			fields {
				request>uri query {
					replace authorization REDACTED
				}
			}
		}
	}

	@https expression "{$APP_URL:http://localhost}".startsWith("https://")

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Content-Security-Policy "frame-ancestors 'none'"
	}

	header @https Strict-Transport-Security "max-age=31536000"

	request_body {
		max_size {$CADDY_REQUEST_BODY_MAX_SIZE:20MB}
	}

	route {
		root * "{$APP_PUBLIC_PATH}"
		encode zstd br gzip

		# Mercure configuration is injected here...
		{$CADDY_SERVER_EXTRA_DIRECTIVES}

		php_server {
			index {$APP_INDEX_FILE:frankenphp-worker.php}
			try_files {path} {$APP_INDEX_FILE:frankenphp-worker.php}
			# Required for the public/storage/ directory...
			resolve_root_symlink
		}
	}
}
